Options -Indexes

RewriteEngine On
RewriteBase /airaphp/public/

# If file or folder exists, do nothing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to index.php
RewriteRule ^ index.php [QSA,L]
